* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

QLabel {
    color: #333;
}

.QPushButton {
    color: #333;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}
.QPushButton:hover {
    background-color: #f0f0f0;
}

/* 垂直滚动条样式 */
QScrollBar:vertical {
    background: #ddd;
    width: 8px;
    border-radius: 3px;
    margin: 0px 0px 0px 0px;
}
QScrollBar::handle:vertical {
    background: #ccc;
    min-height: 20px;
    border-radius: 3px;
}
QScrollBar::handle:vertical:hover {
    background: #bbb;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* 水平滚动条样式 */
QScrollBar:horizontal {
    background: #eee;
    height: 8px;
    border-radius: 3px;
}
QScrollBar::handle:horizontal {
    background: #ddd;
    min-width: 20px;
    border-radius: 3px;
}
QScrollBar::handle:horizontal:hover {
    background: #ccc;
}